
		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
              <span class="grouperImage image image-full">
              <img src="http://www.moma.org/explore/inside_out/inside_out/wp-content/uploads/2010/03/At-symbol-4.sm_1.jpg" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1><strong>eMailGrouper</strong></h1>
							</header>
              <%= markdown(:home, layout: false) %>
              <%= erb(:mcSignup, layout: false) %>
						</div>
					</div>
				</article>
			</div>

