<!-- Why -->
<div class="wrapper wrapper-style1 wrapper-first">
  <article class="container" id="top">
    <div class="row">
      <div class="4u">
      </div>
      <div class="8u">
        <header>
          <h1></h1>
        </header>
        <%= markdown(:why, layout: false) %>
      </div>
    </div>
  </article>
</div>
